body {
  background: #E5E5E5;
  margin: 4%;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

main {
  display: block;
  margin: 2% 5%;
  line-height: 1;
}

.inserir-texto{
  display: flex;
}

.area-texto {
  display: inline-block;
  width: 70%;
}

.texto {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background: transparent;
  border-color: transparent;
  outline: none;
  width: 98%;
  height: 450px;
}

.texto::placeholder {
  color: #0A3871;
  fonte: sans-serif;
}

.botão {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#botão-1 {
  font: inherit;
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  margin: 1% 3%;
  gap: 8px;
  width: 130px;
  height: 40px;
  background: #0A3871;
  border-radius: 24px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

#botão-1:hover{
  	transform: scale(1.2);
}

#botão-2 {
  font: inherit;
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  margin: 1% 3%;
  gap: 8px;
  width: 130px;
  height: 40px;
  background: #0A3871;
  border-radius: 24px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

#botão-2:hover{
  	transform: scale(1.2);
}

.area-escrita{
  display: inline-block;
  width: 29%;
}

.mostra-tela{
  width: 100%;
  height: 490px;
  background: #FFFFFF;
  border-radius: 22px;
}

#copy{
  background: transparent;
  background-image: url("botaoAT.png");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  top: 75%;
  position: absolute;
  width: 50px;
  height: 11%;
  background-size: 70px;
  transition: 1s all;
  cursor: pointer;
}

#copy:hover {
	transform: scale(1.2);
}

.resultado {
  display: inline-block;
  position: relative;
  width: 29%;
  top: auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 4%;
}

#imge {
  width: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer{
  text-align: center;
  background: url("bg.jpg");
}
