.area-texto {
  display: block;
  width: 100%;;
  margin: 0 auto;
}

.texto {
  width: 49%;
  height: 550px;
  border-color: red;
}

.texto::placeholder {
  color: #0A3871;
}

.botão {
  display: inline-block;
  width: 100%;
}

#botão-1 {
  width: 33%;
}

#botão-2 {
  width: 33%;
}

#copy{
  width: 33%;
}

.resultado {
  display: inline-block;
  position: relative;
  width: 28%;
  top: auto;
}

/*#imagem {
height: 100%;
width: auto;
right: 0;
text-align: center;
}*/

h2 {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
}
